{% extends "base.j2" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to Plex Tools</h1>
    <p>This is the home page.</p>
    <p>Here is the Plex PIN ID: {{ pin_id }}</p>
    <p>Here is the Plex PIN CODE: {{ pin_code }}</p>
    <p>Here is the Plex Auth Token: {{ token }}</p>
{% endblock %}