{% extends "base.j2" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to Plex Tools</h1>
    <p>This is the home page.</p>
    <p>Here is the Plex UserName: {{ name }}</p>
    <p>Here is the Plex Auth Token: {{ auth_token }}</p>
{% endblock %}