{% extends "base.j2" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to AutoPlex</h1>
    {% if user_name %}
    	Logged in as {{ user_name }}
    {% else %}
         <a href="{{ url_for('login') }}" class="btn rounded" style="color: #e5a00c; border: 1px solid black;">Log In</a>
    {% endif %}
{% endblock %}